doctype html 
head 
    title Royal Dance Academy
    block scripts 
    block style
body 
    nav#navbar 
        ul
            div#logo
                img(src="../static/images/logo.png")
                span RDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Class Schedule]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact Us]
    block content
    footer
        span 2025 Copyright &copy Royal Dance Academy | All Rights Reserved
        

